/* Color */
$main-color0: #333;
$main-color1: #888;
$sub-color0: #599;
$sub-color1: #8cc;
$main-background0: #eee;
$main-background1: #ccc;
$sub-background0: #cee;
$sub-background1: #9cc;

/* Width */
$border-width: 2px;
$button-min-width: 6em;
$control-min-width: 10em;

/* Padding */
$button-padding: 1em;
$control-padding: 0.4em;

/* Other sizes */
$button-radius: 100vmax;
$control-radius: 0.6em;
